<ng-include src="'partials/navbar.html'">
</ng-include>
<div class="content-wrapper-choose">
    <div class='content-wrapper-inner-choose'>
        <div ng-show="view.currentUser" class='show'>
            <!-- <p>Hi, {{view.currentUser.first_name}}</p> -->
            <!-- <div class='extensionLogoIcon'>

                <img class="logoIcon" src="../images/logo2.png" />
                <p class='tracker'><strong>Tracker</strong></p>
                <div></div>


            </div> -->
            <br>
            <p>Choose which game you want to view.</p>

            <div class='options'>
                <select class='ui dropdown' ng-model='view.dropMenu' name="dropdown" id="">
                    <option ng-repeat='game in view.games' value='{{game.id}}' href="">{{game.name}}</option>
                </select>
                <button class='ui button block' ng-click=viewSingleGame(view.dropMenu)>View Game</button>
            </div>
            <!-- <button class="top-right block ui negative basic button top-right" ng-click="logout()">Logout</button> -->
        </div>
    </div>
</div>

<!-- <div class='logout-outer'>
    <a class="red" ng-click="logout()">Logout</a>
</div> -->
