<ng-include src="'partials/navbar.html'">
</ng-include>
<div class="content-wrapper">
    <div class='content-wrapper-inner'>
        <div ng-show="view.currentUser">
            <!-- <div class='extensionLogoIcon'>

                <img class="logoIcon" src="../images/logo2.png" />
                <p class='tracker'><strong>Tracker</strong></p>
                <div></div>


            </div> -->
            <div class="leaderboardLeft">
                <h3 class='centerMe'> {{ view.gameDetails.name}} </h3>
                <div class="leaderboardDonutInner">
                    <canvas id="leaderboardDonutChart" class="chart chart-doughnut" chart-data="donutChartData" chart-labels="donutChartLabels"></canvas>
                </div>
                <ul class="websiteLinksChart">
                    <li class='li-size' ng-repeat="link in donutChartLabels"> {{ link }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- <div class='logout-outer'>
    <a class="red" ng-click="logout()">Logout</a>
</div> -->
