<ng-include src="'partials/navbarOuter.html'">
</ng-include>
<div class="content-wrapper">
    <div class='content-wrapper-inner'>

        <div class="logo-wrapper">
            <h1>Login</h1>
            <br>
        </div>
        <div class="login-wrapper">
            <div class="input-wrapper ui input">
                <input type="text" value="username" placeholder="username" ng-model="view.username">
                <br>
                <input type="password" value="password" placeholder="password" ng-model="view.password">
            </div>
            <br>
            <button class="ui button" ng-click="login()">Login</button>
            <p>{{view.badLogin}}</p>
        </div>
    </div>
</div>
