<div class="content-wrapper">
    <div class="logo-wrapper">
        <h1>Time Tracker</h1>
    </div>
    <div class="login-wrapper">
        <div class="input-wrapper ui input">
            <input type="text" value="username" placeholder="username" ng-model="view.username">
            <input type="text" value="password" placeholder="password" ng-model="view.password">
        </div>
        <button class="ui button" ng-click="login()">Login</button>
        <p>{{view.badLogin}}</p>
    </div>
</div>
