/*=-=-=-=-=-=-=-=-=-=-=CHOOSE GAME=-=-==-=-=-=-=-=-=-=-*/
.block {
    display: block;
}

/*=-=-=-=-=-=-=-=-=-=-=GLOBAL=-=-==-=-=-=-=-=-=-=-*/


.content-wrapper {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*=-=-=-=-=-=-=-=-=-=-=LOGIN=-=-==-=-=-=-=-=-=-=-*/


.logo-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/*=-=-=-=-=-=-=-=-=-=-=DASHBOARD=-=-==-=-=-=-=-=-=-=-*/
