/*=-=-=-=-=-=-=-=-=-=-=CHOOSE GAME=-=-==-=-=-=-=-=-=-=-*/

.block {}
.content-wrapper-choose {
    /*width: 350px;*/
    height: 155px;
    display: flex;
    padding-bottom: 0;
    margin: 0;
}
.content-wrapper-inner-choose {
    /*border: 1px solid #dce0e0;*/
    /*padding-top: 8vh;*/
    padding-right: 5vw;
    padding-left: 5vw;
    margin: auto;
}
.options {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-around;
}
.show {
    padding: 0
}

/*=-=-=-=-=-=-=-=-=-=-=GLOBAL=-=-==-=-=-=-=-=-=-=-*/
.header-nav{
    /*border: 1px solid red;*/
    margin-top: 3vh;
    }
body{
    height: auto;
}

.content-wrapper {
    /*width: 350px;*/
    height: 200px;
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;
    justify-content: center;*/
    /*margin-top: 4vh;*/
}
.content-wrapper-inner {
    /*border: 1px solid #dce0e0;*/
    /*padding-top: 1vh;*/
    padding-right: 8vw;
    padding-left: 8vw;
    /*padding-bottom: 1vh;*/
    /*background: #fff;*/
    margin: auto;
    /*margin-top: 1em;
    width: 35%;
    padding: 2%;*/
}
p {
    margin: 1em 0em 1em;
    line-height: 1.4285em;
}
.logoIcon {
    width: 50px;
    height: 50px;
}
.extensionLogoIcon {
    /*border: 1px solid red;*/
    display: flex;
}
.extensionLogoIcon p {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 6vh;*/
    /*font-weight: strong;*/
}
.red {
    color: red;
}
.logout-outer {
    /*display: flex;*/
    /*border: 1px solid red;*/
    flex-direction: column;
    margin: auto;
    float: right;
    padding: 4vh;
}
.logout {
    justify-content: right;
    align-items: right;
}

/*=-=-=-=-=-=-=-=-=-=-=LOGIN=-=-==-=-=-=-=-=-=-=-*/

.logo-wrapper {
    display: flex;
    justify-content: center;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
}
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*=-=-=-=-=-=-=-=-=-=-=DASHBOARD=-=-==-=-=-=-=-=-=-=-*/

.top-right {
    /*flex: 50%;
    text-align: right;*/
}

/*=-=-=-=-=-=-=-=-=-=-=LEADERBOARD=-=-==-=-=-=-=-=-=-=-*/

li {
    list-style-type: none
}
.leaderboardLeft {
    background: #fff;
    border-radius: 5px;
    width: 80vw;
    height: 65vh;
    margin-right: 5%;
}
.leaderboardDonutInner {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}
#leaderboardDonutChart {
    width: 55% !important;
    height: 55% !important;
}
.websiteLinksChart {
    padding-left: 1em;
}
.websiteLinksChart li {
    font-size: 1.5rem;
    padding: 0.15rem;
    text-align: center;
}
.centerMe {
    display: flex;
    justify-content: center;
}
