body {
  background: #eceff4 !important;
}

.container {
  width: 90%;
  margin: auto;
}

h1,h2,h3,h4,h5,h6,p,a,li {
  font-family: 'Roboto', sans-serif !important;
  color: rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/*--------------------------------------------------------------- home.html*/

.logoIcon {
  width: 50px;
  height: 50px;
}

.ui.secondary.pointing.menu {
  background: #fff;
}

.ui.secondary.menu a {
  color: rgba(0, 0, 0, 0.5); !important;
  font-size: 1.5rem;
}

.ui.menu {
  margin: 0 !important;
}

/*.homeNavInner {
  display: flex;
  background-color: #333;
}

.homeNavInner h3 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}*/

/*.homeNavInner h3 {
  width: 100px;
	height: 100px;
	border: 1px solid #ccc;
	border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #009966;
  color: #fff;
}*/


.homeNavInner h3:first-child{
  margin: 10px;
}

.bg {
  background-size: cover;
  background-image: url('../images/cover1.jpg');
  height: 100vh;
  z-index: -1;
}

.bgMessage {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------------- signup.html*/

.bigContainer {
  display: flex;
}

.smallContainer {
  /*border: 1px solid #dce0e0;*/
  background: #fff;
  margin: auto;
  margin-top: 1em;
  width: 35%;
  padding: 2%;
}

.smallContainer h3 {
  text-align: center;
}

.ui.form button {
  display: flex;
  margin: auto;
}

/*--------------------------------------------------------------- ngMessages*/

input.ng-invalid.ng-not-empty.ng-dirty.ng-valid-parse.ng-valid-required.ng-invalid-minlength.ng-touched {
  background-color: #FE938C;
  border: 1px solid red;
}

.error {
  color: red;
}

input.ng-not-empty.ng-dirty.ng-valid-parse.ng-valid-required.ng-touched.ng-valid.ng-valid-minlength {
  background-color: #C7EFCF;
  border: 1px solid green;
}

/*--------------------------------------------------------------- dashboard*/

.dashboardWelcome {
  font-size: 3rem;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.ui.grid {
  display: flex;
  margin: auto;
}

.four.wide.column {
  background: #fff;
  border-radius: 5px;
  margin: 0.5%;
}

.four.wide.column:hover {
  border: 2px solid #eceff4;
}

.four.wide.column h3 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.dashboardRankingIcon {
  width: 30px;
  height: 30px;
}

.four.wide.column ul li {
  display: flex;
  align-items: center;
}

.four.wide.column ul li img {
  margin-right: 3%;
  margin-bottom: 2%;
}
