<ng-include src="'partials/navBarInside.html'"></ng-include>
<div class="bigContainer">
    <div class="mediumContainer">
        <h2>{{currentGame.name}}</h2>
        <div class="confirmjoinContainer">
          <div class="confirmjoinBox">
            <h3><strong>Type:</strong></h3>
              <p class="confirmjoinSpan">{{ currentGame.gameType }}</p>
            <h3 class="confirmjoinBoxLeftH3"><strong>Start:</strong></h3>
              <p class="confirmjoinSpan">{{currentGame.startTime| date: 'MMM d, y' }}</p>
          </div>
          <div class="confirmjoinBox">
            <h3 class="confirmjoinBoxH3"><strong>Websites:</strong></h3>
            <ul>
              <li ng-repeat='site in currentGame.sites.stats'>
                  <h4>{{site.domain}}</h4>
              </li>
            </ul>
          </div>
          <div class="confirmjoinBox">
            <h3 class="confirmjoinBoxH3"><strong>Players:</strong></h3>
            <ul>
                <li ng-repeat='stat in currentGame.stats'>
                    <h4>{{stat.username}}</h4>
                </li>
            </ul>
          </div>
        </div>


        <div ng-show='currentGame.gameType === "points"'>
            <form class="ui form" name="confirmJoinForm" action="#" ng-submit="confirmJoinForm.$valid && submitJoinClicked($event, confirmForm)">
                <div class="field" ng-class="{'has-error': confirmJoinForm.firstName.$touched && confirmJoinForm.firstName.$invalid, 'has-success': confirmJoinForm.firstName.$touched && confirmJoinForm.firstName.$valid}">
                    <input type="text" ng-model='confirmForm.firstName' name='firstName' placeholder='some cash info here' ng-minlength="2" required>
                    <div class="error" ng-messages="confirmJoinForm.firstName.$error" ng-show="confirmJoinForm.firstName.$touched">
                        <div ng-messages-include="messages.html"></div>
                    </div>
                </div>
                <div class="field" ng-class="{'has-error': confirmJoinForm.lastName.$touched && confirmJoinForm.lastName.$invalid, 'has-success': confirmJoinForm.lastName.$touched && confirmJoinForm.lastName.$valid}">
                    <input type="text" name='lastName' ng-model='confirmForm.lastName' placeholder='some cash info here' ng-minlength="2" required>
                    <div class="error" ng-messages="confirmJoinForm.lastName.$error" ng-show="confirmJoinForm.lastName.$touched">
                        <div ng-messages-include="messages.html"></div>
                    </div>
                </div>
                <div class="field" ng-class="{'has-error': confirmJoinForm.bankName.$touched && confirmJoinForm.bankName.$invalid, 'has-success': confirmJoinForm.bankName.$touched && confirmJoinForm.bankName.$valid}">
                    <input type="text" name='bankName' ng-model='confirmForm.bankName' placeholder='some cash info here' ng-minlength="3" required>
                    <div class="error" ng-messages="confirmJoinForm.bankName.$error" ng-show="confirmJoinForm.bankName.$touched">
                        <div ng-messages-include="messages.html"></div>
                    </div>
                </div>
                <div class="field" ng-class="{'has-error': confirmJoinForm.acctNum.$touched && confirmJoinForm.acctNum.$invalid, 'has-success': confirmJoinForm.acctNum.$touched && confirmJoinForm.acctNum.$valid}">
                    <input type="text" name='acctNum' ng-model='confirmForm.acctNum' placeholder='some cash info here' ng-minlength="5" required>
                    <div class="error" ng-messages="confirmJoinForm.acctNum.$error" ng-show="confirmJoinForm.acctNum.$touched">
                        <div ng-messages-include="messages.html"></div>
                    </div>
                </div>
                <input type="submit" class="ui primary button" value='Join Game'>

            </form>
        </div>
    </div>
</div>
