<ng-include src="'partials/navBarInside.html'"></ng-include>
<div class="bigContainer-smallCard">
  <div class="smallContainer">
<h2 class="black-h2">Join Game</h2>
<form class="ui form" action="#" name="form" ng-submit="form.$valid && goToConfirm($event, formInfo)">


        <div class="field" ng-class="{'has-error': form.gameId.$touched && form.gameId.$invalid, 'has-success': form.gameId.$touched && form.gameId.$valid}">
            <input type="text" name="gameId" ng-model="formInfo.gameId" placeholder="Game Id Code" required>
            <div class="error" ng-messages="form.gameId.$error" ng-show="form.gameId.$touched">
                <div ng-messages-include="messages.html"></div>
            </div>
        </div>

        <div class="field" ng-class="{'has-error': form.gamePassword.$touched && form.gamePassword.$invalid, 'has-success': form.gamePassword.$touched && form.gamePassword.$valid}">
            <input type="password" name="gamePassword" ng-model="formInfo.gamePassword" placeholder="Game Password" required>
        </div>



        <div class="newgameButtonsDiv">
          <button class="ui primary button" type="submit">Submit</button>
          <button class="ui red button" type="submit" ng-click=cancelClicked($event) >Cancel</button>
        </div>
    </form>
  </div>
</div>
