<ng-include src="'partials/navBarOutside.html'"></ng-include>

<div class="bg-div">
  <h2 class="bgMessage bg-big">Hard work pays off.</h2>
  <h4 class="bgMessage bg-small">Let's sprint together.</h4>
</div>

<div class="background-color-white">
  <div class="container">
    <h3 class="message-home">Sprintr is a Chrome browser extension that helps a group of people focus on completing a learning objective.This is done by tracking how much time is spent on selected web sites.
    </h3>

    <h3 class="message-home-how">How it works</h3>

    <div class="ui four column doubling stackable grid container">
      <div class="column home-column-div">
        <h4 class="home-column-div-h4">Create a Sprint</h4>
        <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
      </div>
      <div class="column home-column-div">
        <h4 class="home-column-div-h4">Invite Your Friends</h4>
        <i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i>
      </div>
      <div class="column home-column-div">
        <h4 class="home-column-div-h4">Get Chrome Extension</h4>
        <i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i>
      </div>
      <div class="column home-column-div">
        <h4 class="home-column-div-h4">Compete To Win</h4>
        <i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>  
