<ng-include src="'partials/navBarOutside.html'"></ng-include>

<div class="bg">
  <p class="bgMessage">Hard work pays off</p>
  <p class="bgMessage-small">Let's sprint together.</p>
</div>

<div class="synopsis">
  <p>Sprintr is project built by three Galvanize Web Development students in one week.</p>
  <p>With Sprintr, our goal is to incentive productivity through collaboration and competition.</p>
  <p>Sprintr is a Chrome browser extension and web application built on Node, Express, Angular, and PostgreSQL.</p>
  <p>Checkout our code on <a href="https://www.github.com/timothyrchew/sprintr">Github</a> to learn more about our process and our app.</p>

</div>


<!-- <img class="bg" src="images/cover1.jpg"/> -->

<!-- <h3>{{view.test}}</h3>


<form action="">
<input type="text" value="username" ng-model="view.username">
<input type="text" value="password" ng-model="view.password">
<button ng-click="login()">Login</button>
</form> -->
