<ng-include src="'partials/navBarInside.html'"></ng-include>

<h2 class="dashboardWelcome"> {{view.gameDetails.name}} </h2>
<div class="leaderboardContainer">
  <div class="leaderboardLeft">
    <h3> Personal Stats </h3>
    <div class="leaderboardDonutInner">
      <canvas id="leaderboardDonutChart" class="chart chart-doughnut" chart-data="donutChartData" chart-labels="donutChartLabels" chart-options="donutChartOptions" chart-colors="donutChartColors"></canvas>
    </div>
    <ul class="websiteLinksChart">
      <h4>Tracked Websites</h4>
      <li ng-repeat="legend in view.legendArray"> {{ legend.domain }}</li>
    </ul>
  </div>
  <div class="leaderboardRight">
    <div class="leaderboardRightCardTop">
      <h3> Sprint Rankings </h3>
      <canvas id="leaderboardTeamChart" class="chart-horizontal-bar" chart-data="barData" chart-labels="barLabels"></canvas>
    </div>
    <div class="leaderboardRightCardBottom">
      <h3> Time Remaining </h3>
      <div class="leaderboardDonutInner">
        <h3>{{view.days}} days, {{ view.hours }} hours, {{view.minutes}} min, {{ view.seconds}} seconds</h3>
      </div>
    </div>
  </div>
</div>
