<ng-include src="'partials/navBarInside.html'"></ng-include>

<div class="bigContainer-bigCard">
  <div class="smallContainer">
<h2 class="black-h2">New Game</h2>
    <form class="ui form" action="#" name="newgameForm" ng-submit="newgameForm.$valid && submitNewgameForm($event, view.newgameFormInfo)">


        <div class="field" ng-class="{'has-error': newgameForm.name.$touched && newgameForm.name.$invalid, 'has-success': newgameForm.name.$touched && newgameForm.name.$valid}">
            <input type="text" name="name" ng-model="view.newgameFormInfo.name" placeholder="Name" ng-minlength="2" required>
            <div class="error" ng-messages="newgameForm.name.$error" ng-show="newgameForm.name.$touched">
                <div ng-messages-include="messages.html"></div>
            </div>
        </div>

        <div class="field">
            <input type="text" name="password" ng-model="view.newgameFormInfo.password" placeholder="Password" required>
        </div>


        <!-- <div class="field">
            <label>Players</label>
            <button class="ui button" type="submit" ng-click="view.newPlayer($event)">Add</button>
            <ul>
              <li ng-repeat="player in view.newgameFormInfo.players">
                <input type="text" name="player" ng-model="player.name" placeholder="Player">
              </li>
            </ul>
        </div> -->

    <div class="field">
        <ul class="websitesButtons">
            <h5>Websites to track:</h5>
            <li ng-repeat='site in view.newgameFormInfo.websites'>
              <div class="newGameWebsiteDiv">
                <div class="newGameWebsiteDivLeft">
                  <h6 ng-show='!editShow'>{{ site }}</h6>
                  <input ng-show='editShow'type="text" value='{{site}}' ng-model='site'>
                </div>
                <div class="newGameWebsiteDivRight">
                  <a href="" ng-click ='removeWebsite()'>Remove Site</a>
                  <a  href="" ng-show='editShow' ng-click='updateSite(site)'>Update Site</a>
                  <a  href="" ng-show='!editShow'ng-click='editWebsite()'>Edit Site</a>
                </div>
              </div>
            </li>
            <li >
                <input type="text" name="website" ng-model="website.name" placeholder="Website"  ng-required='firstSite'>
                <button class="ui button websitebutton" type="submit" ng-click="view.newWebsite($event,website.name)" >Add Website</button>
            </li>
        </ul>
    </div>

        <div class="field">
            <h5>Reward</h5>
            <div class="radioButtonFlex">
              <input type="radio" name="reward" value="points" ng-model="view.newgameFormInfo.gametype"/>
              <p>Points</p>
            </div>
            <div class="radioButtonFlex">
              <input type="radio" name="reward" value="cash" ng-model="view.newgameFormInfo.gametype"/>
              <p>Cash</p>
          </div>
        </div>

        <div class="field dateNewgame">
            <p>Start</p>
            <input type="date" name="start" ng-model="view.newgameFormInfo.start"/>
            <p id="endDate">End</p>
            <input type="date" name="end" ng-model="view.newgameFormInfo.end"/>
        </div>
        <div class="newgameButtonsDiv">
          <button class="ui primary basic button" type="submit">Submit</button>
          <button class="ui primary basic button" type="submit" ng-click=cancelClicked($event)>Cancel</button>
        </div>
    </form>
  </div>
</div>
